/** TABLAS */
#tabla{
    width: 90%;
    margin: 5%;
}

#tabla  th{
    width: 15%;
    text-align: center;
}

#tabla  td{
    width: 15%;
    text-align: center;
}

#tabla  tr{
    height: 30px;
}

#tabla2{
    width: 90%;
    margin: 5%;
}

#tabla2  th{
    width: 20%;
    text-align: center;
}

#tabla2  td{
    width: 20%;
    text-align: center;
}

#tabla2  tr{
    height: 30px;
}

#tabla3{
    width: 90%;
    margin: 5%;
}

#tabla3  th{
    width: 15%;
    text-align: center;
}

#tabla3  td{
    width: 15%;
    text-align: center;
}

#tabla3  tr{
    height: 30px;
}

#tabla4{
    width: 90%;
    margin: 5%;
}

#tabla4  th{
    width: 15%;
    text-align: center;
}

#tabla4  td{
    width: 15%;
    text-align: center;
}

#tabla4  tr{
    height: 30px;
}

#tabla5{
    width: 90%;
    margin: 5%;
}

#tabla5  th{
    width: 15%;
    text-align: center;
}

#tabla5  td{
    width: 15%;
    text-align: center;
}

#tabla5  tr{
    height: 30px;
}



#tabla6{
    width: 90%;
    margin: 5%;
}

#tabla6  th{
    width: 15%;
    text-align: center;
}

#tabla6  td{
    width: 15%;
    text-align: center;
}

#tabla6  tr{
    height: 30px;
}

#tabla7{
    width: 90%;
    margin: 5%;
}

#tabla7  th{
    width: 15%;
    text-align: center;
}

#tabla7  td{
    width: 15%;
    text-align: center;
}

#tabla7  tr{
    height: 30px;
}



#tabla10{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#tabla10  th{
    width: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla10  td{
    width: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla10  tr{
    border-bottom: 1px solid #111;
}

#tabla10 a{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    width: 100%;
}

.perfil-usuario-titulo{
    height: 80px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,57,121,0.8645658947172619) 35%, rgba(0,212,255,1) 100%);
    margin-top: 10px;
}

.perfil-usuario-titulo h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: aliceblue;
    padding-top: 15px;
}

.perfil-usuario-rol10{
    height: 80px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,77,44,0.8645658947172619) 35%, rgba(0,212,255,1) 100%);
    margin-top: 10px;
}

.perfil-usuario-rol10 h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: aliceblue;
    padding-top: 15px;
}


#titulo10{
    height: 80px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,57,121,0.8645658947172619) 35%, rgba(0,212,255,1) 100%);
    margin-top: 10px;
}

#titulo10 h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: aliceblue;
    padding-top: 15px;
}



#tabla11{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#tabla11  th{

    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla11  td{

    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla11  tr{
    border-bottom: 1px solid #111;
}

#tabla11 a{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    width: 100%;
}

.table11-primero{
    width: 10%;
}

.table11-segundo{
    width: 35%;
}

.table11-tercero{
    width: 55%;
}

#tabla12{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#tabla12  th{
    width: 33%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla12  td{
    width: 33%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla12  tr{
    border-bottom: 1px solid #111;
}

#tabla12 a{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    width: 100%;
}


.tabla30{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.tabla30 th{
    width: 50%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tabla30  td{
    width: 50%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tabla30  tr{
    border-bottom: 1px solid #111;
}

.tabla30 a{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    width: 100%;
}


#tabla14{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#tabla14  th{
    width: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla14  td{
    width: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla14  tr{
    border-bottom: 1px solid #111;
}

#tabla14 a{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    width: 100%;
}



#tabla15{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#tabla15  th{
    width: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla15  td{
    width: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla15  tr{
    border-bottom: 1px solid #111;
}

#tabla15 a{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    width: 100%;
}



#tabla16{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#tabla16  th{
    width: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla16  td{
    width: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tabla16  tr{
    border-bottom: 1px solid #111;
}

#tabla16 a{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    width: 100%;
}

/* MENU*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  /**opciones*/
  .colorcito-opciones{
    background: linear-gradient(23deg, rgba(2,0,36,1) 0%, rgba(81,103,135,0.7945378835127801) 32%, rgba(141,144,158,1) 45%);
  }
  .colorcito-opciones h2{
    font-size: x-large;

  }
